@charset "UTF-8";
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: bold;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "SF Display";
  color: black;
  margin: 0;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  background: white;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
body a:hover,
body a:focus {
  text-decoration: none;
  color: inherit;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
body .go-top {
  display: block;
  position: absolute;
  bottom: 0;
  right: 30px;
  background: #EB7778;
  transition: 0.3s;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  border: 2px solid #EB7778;
}
body .go-top:hover {
  background: none;
  color: #EB7778;
}
body button:focus {
  outline: none;
}
body input:focus,
body select:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 119, 120, 0.5);
}

body .xzoom-source img,
body .xzoom-preview img,
body .xzoom-lens img {
  z-index: 1051;
}
body .overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1049;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
body .overlay-menu.overlay-in {
  display: block;
  cursor: url("../img/cursor.png"), auto;
}

.pagination {
  margin-bottom: 30px;
  margin-top: 30px;
}
.pagination .page-item .page-link {
  background: none;
  border: 1px solid #e1e1e1;
  color: #5E5E5E;
  border-radius: 3px;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  background: white;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link.active {
  background: #EB7778;
  color: white;
  border-color: #EB7778;
}

.bread-crumb {
  color: white;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px 0;
  background: black;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
  justify-content: center;
}
.bread-crumb .breadcrumb .breadcrumb-item:first-child::before {
  content: none;
}
.bread-crumb .breadcrumb .breadcrumb-item:before {
  content: "";
  font-family: fontAwesome;
  padding-left: 10px;
  padding-right: 15px;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #EB7778;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #EB7778;
}

.modal-img {
  position: relative;
}
.modal-img .owl-theme .owl-nav button.owl-prev,
.modal-img .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30% !important;
  font-size: 30px !important;
  transition: 0.5s;
  color: #666;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:hover,
.modal-img .owl-theme .owl-nav button.owl-next:hover {
  color: #EB7778 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:focus,
.modal-img .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.modal-img .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.modal-img .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.footer {
  background-image: url("../img/bg-footer.png");
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer ul li {
  padding-bottom: 15px;
}
.footer ul li a {
  color: white;
  transition: 0.3s;
}
.footer ul li a:hover {
  color: #EB7778;
}
.footer ul li i {
  padding-right: 10px;
  color: #EB7778;
}
.footer .category ul li {
  width: 49%;
  display: inline-block;
}

.copyright {
  padding: 15px;
  background: #EB7778;
  color: white;
}

aside {
  height: 100vh;
  width: 400px;
  position: fixed;
  color: white;
  display: grid;
  grid-template-columns: 300px 100px;
  z-index: 1051;
}

main {
  width: calc(100% - 400px);
  margin-left: 400px;
}

.title-page {
  text-align: center;
}
.title-page h1 {
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(transparent, transparent), url("../img/iconbox-bg.gif");
  background-position: left;
  background-size: 125%;
  text-align: center;
}
.title-page h1::before {
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.left-side {
  background: #252525;
  position: relative;
  padding: 30px 50px;
}
.left-side .search {
  position: absolute;
  bottom: 0;
}
.left-side .search input {
  width: 200px;
  height: 40px;
  background: none;
  color: white;
  border: 2px solid #383838;
  padding-left: 10px;
}
.left-side .search input:focus {
  box-shadow: none;
  outline: none;
  border-color: #EB7778;
}
.left-side .search button {
  position: absolute;
  right: 10px;
  top: 7px;
  background: none;
  border: 0;
  color: #666;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.left-side .search button:hover {
  color: #EB7778;
}
.left-side .menu .nav {
  margin-top: 30px;
}
.left-side .menu .nav li {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #484848;
  width: 100%;
}
.left-side .menu .nav li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.left-side .menu .nav li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}
.left-side .menu .nav li a.active {
  color: #EB7778;
}
.left-side .menu .nav li a:hover {
  color: #EB7778;
}

.right-side {
  background: #383838;
  position: relative;
}
.right-side .dash-top {
  position: absolute;
  top: 0;
  left: 25px;
  width: 50px;
  height: 10px;
  background: #666;
}
.right-side .dash-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  border-left: 7px solid transparent;
  border-top: 10px solid #666;
}
.right-side .dash-top::after {
  content: "";
  position: absolute;
  top: 0;
  right: -7px;
  border-right: 7px solid transparent;
  border-top: 10px solid #666;
}
.right-side .dash-mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 100px;
  background: #666666;
}
.right-side .contact {
  position: absolute;
  top: 40px;
  left: 0;
}
.right-side .contact .box-contact {
  margin-bottom: 20px;
  position: relative;
  width: 100px;
  text-align: center;
}
.right-side .contact .box-contact:hover h5 {
  display: block;
}
.right-side .contact .box-contact i {
  font-size: 40px;
  color: #666666;
  cursor: pointer;
  transition: 0.3s;
}
.right-side .contact .box-contact i:hover {
  color: #EB7778;
}
.right-side .contact .box-contact h5 {
  width: 250px;
  position: absolute;
  left: 100px;
  background: black;
  padding: 20px;
  top: 0;
  transition: 0.3s;
  display: none;
  text-align: center;
}
.right-side .social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.right-side .social i {
  padding: 7px 12px;
  border: 2px solid #666;
  border-radius: 50%;
  font-size: 20px;
  display: block;
  margin-bottom: 30px;
  transition: 0.3s;
}
.right-side .social i:hover {
  color: white;
  background: #EB7778;
  border-color: #EB7778;
}

.slider {
  margin-bottom: 40px;
}
.slider .owl-theme .owl-nav button.owl-prev,
.slider .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: 0.3s;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  line-height: 36px;
}
.slider .owl-theme .owl-nav button.owl-prev:hover,
.slider .owl-theme .owl-nav button.owl-next:hover {
  background: #EB7778;
  border-color: #EB7778;
}
.slider .owl-theme .owl-nav button.owl-prev:focus,
.slider .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.slider .owl-theme .owl-nav button.owl-prev {
  left: 2%;
}
.slider .owl-theme .owl-nav button.owl-next {
  right: 2%;
}

.product {
  margin-bottom: 50px;
}
.product-zone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.box-product-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.box-product-img:hover img.hidden {
  opacity: 1;
}
.box-product-img:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.5s;
}
.box-product-img i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
  z-index: 2;
  background: black;
  color: white;
  padding: 6px 10px;
  font-size: 20px;
}
.box-product-img i:hover {
  background: #EB7778;
  transition: 0.3s;
}
.box-product-img img {
  transition: 1s;
}
.box-product-img img.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.box-product-detail h4 a {
  font-weight: 600;
  transition: 0.3s;
}
.box-product-detail h4 a:hover {
  color: #EB7778;
}

.aboutus {
  background-image: url("../img/bg-aboutus.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}
.aboutus .container {
  width: 700px;
}
.aboutus h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.aboutus p {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.aboutus h5 {
  color: #cccccc;
  margin-bottom: 50px;
}
.aboutus a {
  padding: 15px 35px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  background: #EB7778;
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid #EB7778;
}
.aboutus a:hover {
  background: none;
  color: #EB7778;
}

.news {
  margin-bottom: 50px;
}
.news-zone {
  display: grid;
  grid-template-areas: "box-news-0 box-news-1" "box-news-0 box-news-2" "box-news-0 box-news-3";
  grid-gap: 30px;
  grid-template-columns: 50% 50%;
}
.news .box-news.box-news-0 {
  position: relative;
}
.news .box-news.box-news-0 .box-news-img {
  overflow: hidden;
}
.news .box-news.box-news-0 .box-news-img:hover img {
  transform: scale(1.2);
}
.news .box-news.box-news-0 .box-news-img img {
  filter: brightness(0.7);
  transition: 0.5s;
}
.news .box-news.box-news-0 .box-news-detail {
  position: absolute;
  bottom: 20px;
  width: 80%;
  left: 10%;
}
.news .box-news.box-news-0 .box-news-detail h3 {
  margin-bottom: 10px;
}
.news .box-news.box-news-0 .box-news-detail h3 a {
  color: white;
  font-weight: 600;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news .box-news.box-news-0 .box-news-detail h3 a:hover {
  color: #EB7778;
}
.news .box-news.box-news-0 .box-news-detail h5 {
  color: #EB7778;
}
.news .box-news.box-news-0 .box-news-detail h5 i {
  padding-right: 10px;
}
.news .box-news.box-news-1, .news .box-news.box-news-2, .news .box-news.box-news-3 {
  display: grid;
  grid-template-columns: 30% 69%;
}
.news .box-news.box-news-1 .box-news-img, .news .box-news.box-news-2 .box-news-img, .news .box-news.box-news-3 .box-news-img {
  overflow: hidden;
}
.news .box-news.box-news-1 .box-news-img:hover img, .news .box-news.box-news-2 .box-news-img:hover img, .news .box-news.box-news-3 .box-news-img:hover img {
  filter: brightness(0.7);
}
.news .box-news.box-news-1 .box-news-img img, .news .box-news.box-news-2 .box-news-img img, .news .box-news.box-news-3 .box-news-img img {
  transition: 0.5s;
}
.news .box-news.box-news-1 .box-news-detail h3, .news .box-news.box-news-2 .box-news-detail h3, .news .box-news.box-news-3 .box-news-detail h3 {
  margin-bottom: 5px;
}
.news .box-news.box-news-1 .box-news-detail h3 a, .news .box-news.box-news-2 .box-news-detail h3 a, .news .box-news.box-news-3 .box-news-detail h3 a {
  color: black;
  font-weight: 600;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news .box-news.box-news-1 .box-news-detail h3 a:hover, .news .box-news.box-news-2 .box-news-detail h3 a:hover, .news .box-news.box-news-3 .box-news-detail h3 a:hover {
  color: #EB7778;
}
.news .box-news.box-news-1 .box-news-detail h5, .news .box-news.box-news-2 .box-news-detail h5, .news .box-news.box-news-3 .box-news-detail h5 {
  color: #EB7778;
}
.news .box-news.box-news-1 .box-news-detail h5 i, .news .box-news.box-news-2 .box-news-detail h5 i, .news .box-news.box-news-3 .box-news-detail h5 i {
  padding-right: 10px;
}
.news .box-news.box-news-0 {
  grid-area: box-news-0;
}
.news .box-news.box-news-1 {
  grid-area: box-news-1;
}
.news .box-news.box-news-2 {
  grid-area: box-news-2;
}
.news .box-news.box-news-3 {
  grid-area: box-news-3;
}

.member {
  margin-bottom: 20px;
}
.member .owl-theme .owl-nav button.owl-prev,
.member .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: 0.3s;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.5);
}
.member .owl-theme .owl-nav button.owl-prev:hover,
.member .owl-theme .owl-nav button.owl-next:hover {
  background: #EB7778;
}
.member .owl-theme .owl-nav button.owl-prev:focus,
.member .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.member .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.member .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.box-member {
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  padding: 30px 0;
  transition: 0.3s;
  margin-bottom: 30px;
}
.box-member:hover {
  background: #EB7778;
  border-color: #EB7778;
}
.box-member:hover .box-member-detail h4, .box-member:hover .box-member-detail h5, .box-member:hover .box-member-detail i {
  color: white;
}
.box-member:hover .box-member-detail i:hover {
  color: black;
}
.box-member-img {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
}
.box-member-img img {
  border-radius: 50%;
}
.box-member-detail {
  text-align: center;
}
.box-member-detail h4 {
  font-weight: 600;
  margin-bottom: 5px;
  transition: 0.3s;
}
.box-member-detail h5 {
  color: #EB7778;
  margin-bottom: 15px;
  transition: 0.3s;
}
.box-member-detail-contact {
  padding-top: 10px;
  border-top: 1px solid #e1e1e1;
  width: 130px;
  margin: auto;
}
.box-member-detail-contact i {
  font-size: 20px;
  margin: 0 10px;
  transition: 0.3s;
  color: black;
}

.news-page .box-news {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.news-page .box-news:hover img {
  transform: scale(1.2);
}
.news-page .box-news img {
  transition: 0.5s;
  filter: brightness(0.7);
}
.news-page .box-news .box-news-detail {
  position: absolute;
  bottom: 20px;
  width: 80%;
  left: 10%;
}
.news-page .box-news .box-news-detail h3 {
  margin-bottom: 10px;
}
.news-page .box-news .box-news-detail h3 a {
  color: white;
  font-weight: 600;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-page .box-news .box-news-detail h3 a:hover {
  color: #EB7778;
}
.news-page .box-news .box-news-detail h5 {
  color: #EB7778;
}
.news-page .box-news .box-news-detail h5 i {
  padding-right: 10px;
}
.news-page .news-detail {
  margin-bottom: 40px;
}
.news-page .news-detail h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.news-page .news-detail h5 {
  color: #EB7778;
  margin-bottom: 10px;
}
.news-page .news-detail h5 i {
  margin-right: 10px;
}
.news-page .news-detail h4 {
  font-weight: 600;
  margin-bottom: 20px;
}
.news-page .news-detail img {
  margin-bottom: 20px;
}

.page-text {
  margin-bottom: 50px;
}
.page-text img {
  margin-bottom: 20px;
}

.contact-page {
  margin-bottom: 50px;
}
.contact-page .box-contact {
  color: black;
}
.contact-page .box-contact input {
  height: 40px;
}
.contact-page .box-contact textarea {
  height: 100px;
}
.contact-page h2 {
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-page ul li {
  margin-bottom: 15px;
  font-size: 16px;
}
.contact-page ul li i {
  color: #EB7778;
  margin-right: 10px;
}

.product-page .product-detail-1-img .xzoom-thumbs {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 50px;
  position: relative;
}
.product-page .product-detail-1-img .xzoom-thumbs .xzoom-gallery:hover {
  border-color: #EB7778;
}
.product-page .product-detail-1-img .xzoom-thumbs .xactive {
  border-color: #EB7778;
  box-shadow: 0px 0px 3px 0px #EB7778;
}
.product-page .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev,
.product-page .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  font-size: 30px;
  transition: 0.5s;
  transform: translateY(-50%);
}
.product-page .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:hover, .product-page .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:focus,
.product-page .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:hover,
.product-page .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:focus {
  color: #EB7778;
  background: none;
  outline: none;
}
.product-page .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev {
  left: -12%;
}
.product-page .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  right: -12%;
}
.product-page .product-detail-1-detail {
  color: #585858;
  margin-bottom: 30px;
}
.product-page .product-detail-1-detail h2 {
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}
.product-page .product-detail-1-detail p {
  color: #585858;
  margin-bottom: 10px;
}
.product-page .product-detail-2-title .nav-tabs {
  border-bottom: 2px solid #383838;
  margin-bottom: 30px;
}
.product-page .product-detail-2-title .nav-tabs .nav-item {
  margin-bottom: -2px;
}
.product-page .product-detail-2-title .nav-tabs .nav-item .nav-link {
  padding-bottom: 11px;
  border: none;
  border-bottom: 2px solid #383838;
  transition: 0.5s;
  font-weight: bold;
}
.product-page .product-detail-2-title .nav-tabs .nav-item .nav-link.active, .product-page .product-detail-2-title .nav-tabs .nav-item .nav-link:hover {
  background: none;
  border: none;
  border-bottom: 2px solid #EB7778;
  padding-bottom: 11px;
  color: #EB7778;
}

.similar {
  margin: 50px 0;
}

@media (max-width: 1400px) {
  aside {
    display: block;
    width: auto;
  }
  aside:hover .right-side {
    transform: translateX(0) scaleX(1);
  }

  main {
    margin-left: 260px;
    width: calc(100% - 260px);
  }

  .left-side {
    width: 260px;
    padding: 30px;
    height: 100vh;
  }

  .right-side {
    position: fixed;
    top: 0;
    width: 100px;
    height: 100vh;
    left: 260px;
    transition: 0.3s;
    transform: translateX(-50%) scaleX(0);
  }
}
@media (max-width: 1200px) {
  body {
    font-size: calc(9px + 0.4vmax);
  }
  body .go-top {
    left: 15px;
  }

  aside {
    transform: translateX(-400px);
    transition: 0.3s;
    overflow: scroll;
    height: 100%;
    width: 320px;
  }
  aside.out {
    transform: none;
  }
  aside .left-side {
    padding: 30px 25px;
    width: 250px;
  }
  aside .right-side {
    transform: none;
    width: 70px;
    left: 250px;
  }
  aside .right-side .dash-top {
    display: none;
  }
  aside .right-side .contact {
    top: 80px;
  }
  aside .right-side .contact .box-contact {
    width: 70px;
  }
  aside .right-side .contact .box-contact i {
    font-size: 30px;
  }
  aside .right-side .contact .box-contact h5 {
    left: 70px;
  }
  aside .right-side .social i {
    padding: 5px 10px;
    margin-bottom: 20px;
  }
  aside .nav-close {
    position: absolute;
    font-size: 24px;
    top: 0;
    right: -70px;
    color: white;
    z-index: 10;
    width: 70px;
    height: 70px;
    background: black;
    line-height: 70px;
    text-align: center;
  }

  main {
    margin: 0;
    width: 100%;
  }

  .toggleMenu {
    position: fixed;
    top: 0;
    left: 0;
    background: #EB7778;
    z-index: 1050;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  .toggleMenu i {
    color: white;
    font-size: 20px;
  }

  .news-zone {
    grid-gap: 20px;
  }
}
@media (max-width: 992px) {
  .product-zone {
    grid-template-columns: repeat(3, 1fr);
  }

  .news-zone {
    display: block;
  }
  .news .box-news.box-news-0 {
    margin-bottom: 30px;
  }
  .news .box-news.box-news-1, .news .box-news.box-news-2, .news .box-news.box-news-3 {
    display: flex;
  }
  .news .box-news.box-news-1 .box-news-img, .news .box-news.box-news-2 .box-news-img, .news .box-news.box-news-3 .box-news-img {
    width: 250px;
    margin-bottom: 30px;
    margin-right: 20px;
  }

  .news {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .product-zone {
    grid-template-columns: repeat(2, 1fr);
  }

  .aboutus .container {
    width: 100%;
  }

  aside .right-side .contact .box-contact h5 {
    left: inherit;
    right: 70px;
  }
}
@media (max-width: 575px) {
  .aboutus {
    padding-top: 30px;
  }
  .aboutus h1 {
    margin-bottom: 10px;
  }
  .aboutus p {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .product-zone {
    grid-column-gap: 15px;
  }

  .slider, .news {
    margin-bottom: 20px;
  }

  .aboutus {
    margin-bottom: 30px;
  }

  .title-page h1 {
    margin-bottom: 20px;
  }
}
@media (max-height: 720px) {
  aside .left-side {
    padding: 15px 25px;
  }
  aside .left-side .menu .nav {
    margin-top: 15px;
  }
  aside .left-side .menu .nav li {
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
  aside .logo {
    text-align: center;
  }
  aside .logo img {
    height: 70px;
  }
  aside .right-side .contact .box-contact {
    margin-bottom: 10px;
  }
  aside .right-side .dash-mid {
    height: 70px;
  }
}

/*# sourceMappingURL=layout.css.map */
