@import 'default';
$main_color: #EB7778;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

// end default css -----------------------------------------------------


.title-page {
  text-align: center;

  h1 {
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3rem;
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(transparent, transparent), url('../img/iconbox-bg.gif');
    background-position: left;
    background-size: 125%;
    text-align: center;

    &::before {
      width: 100%;
      height: 1px;
      background: black;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.left-side {
  background: #252525;
  position: relative;
  padding: 30px 50px;

  .search {
    position: absolute;
    bottom: 0;
    
    input {
      width: 200px;
      height: 40px;
      background: none;
      color: white;
      border: 2px solid #383838;
      padding-left: 10px;

      &:focus {
        box-shadow: none;
        outline: none;
        border-color: $main_color;
      }
    }

    button {
      position: absolute;
      right: 10px;
      top: 7px;
      background: none;
      border: 0;
      color: #666;
      font-size: 20px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        color: $main_color;
      }
    }
  }

  .menu {
    .nav {
      margin-top: 30px;

      li {
        display: block;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #484848;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: 0;
        }

        a {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
          transition: .3s;

          &.active {
            color: $main_color;
          }

          &:hover {
            color: $main_color;
          }
        }
      }
    }
  }
}

.right-side {
  background: #383838;
  position: relative;

  .dash-top {
    position: absolute;
    top: 0;
    left: 25px;
    width: 50px;
    height: 10px;
    background: #666;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -7px;
      border-left: 7px solid transparent;
      border-top: 10px solid #666;  
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -7px;
      border-right: 7px solid transparent;
      border-top: 10px solid #666;  
    }
  }

  .dash-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 100px;
    background: #666666;
  }

  .contact {
    position: absolute;
    top: 40px;
    left: 0;

    .box-contact {
      margin-bottom: 20px;
      position: relative;
      width: 100px;
      text-align: center;

      &:hover {
        h5 {
          display: block;
        }
      }

      i {
        font-size: 40px;
        color: #666666;
        cursor: pointer;
        transition: .3s;

        &:hover {
          color: $main_color;
        }
      }

      h5 {
        width: 250px;
        position: absolute;
        left: 100px;
        background: black;
        padding: 20px;
        top: 0;
        transition: .3s;
        display: none;
        text-align: center;
      }
    }
  }

  .social {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    i {
      padding: 7px 12px;
      border: 2px solid #666;
      border-radius: 50%;
      font-size: 20px;
      display: block;
      margin-bottom: 30px;
      transition: .3s;

      &:hover {
        color: white;
        background: $main_color;
        border-color: $main_color;
      }
    }
  }
}

.slider {
  margin-bottom: 40px;

  .owl-theme .owl-nav {
    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 47%;
      transform: translateY(-50%);
      font-size: 20px;
      transition: .3s;
      color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid white;
      line-height: 36px;

      &:hover {
        background: $main_color;
        border-color: $main_color;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: 2%;
    }

    button.owl-next {
      right: 2%;
    }
  }
}

.product {
  margin-bottom: 50px;

  &-zone {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

.box-product {
  &-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    &:hover {
      img.hidden {
        opacity: 1;
      }


      i {
        transform: translate(-50%, -50%) scale(1);
        transition-delay: .5s;
      }
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: .3s;
      z-index: 2;
      background: black;
      color: white;
      padding: 6px 10px;
      font-size: 20px;

      &:hover {
        background: $main_color;
        transition: .3s;
      }
    }

    img {
      transition: 1s;

      &.hidden {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }

  &-detail {
    h4 {
      a {
        font-weight: 600;
        transition: .3s;

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}

.aboutus {
  background-image: url('../img/bg-aboutus.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  color: white;
  text-align: center;
  margin-bottom: 50px;

  .container {
    width: 700px;
  }

  h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  p {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  h5 {
    color: #cccccc;
    margin-bottom: 50px;
  }

  a {
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    background: $main_color;
    border-radius: 50px;
    transition: .3s;
    border: 2px solid $main_color;

    &:hover {
      background: none;
      color: $main_color;
    }
  }
}

.news {
  margin-bottom: 50px;

  &-zone {
    display: grid;
    grid-template-areas: 
    "box-news-0 box-news-1"
    "box-news-0 box-news-2"
    "box-news-0 box-news-3";
    grid-gap: 30px;
    grid-template-columns: 50% 50%;
  }

  .box-news {

    &.box-news-0 {
      position: relative;

      .box-news-img {
        overflow: hidden;

        &:hover {
          img {
            transform: scale(1.2);
          } 
        }

        img {
          filter: brightness(.7);
          transition: .5s;
        }
      }

      .box-news-detail {
        position: absolute;
        bottom: 20px;
        width: 80%;
        left: 10%;
        
        h3 {
          margin-bottom: 10px;

          a {
            color: white;
            font-weight: 600;
            transition: .3s;
            @include o2;

            &:hover {
              color: $main_color;
            }
          }
        }

        h5 {
          color: $main_color;
          
          i {
            padding-right: 10px;
          }
        }
      }
    }

    &.box-news-1, &.box-news-2, &.box-news-3 {
      display: grid;
      grid-template-columns: 30% 69%;

      .box-news-img {
        overflow: hidden;

        &:hover {
          img {
            filter: brightness(.7);
          } 
        }

        img {
          transition: .5s;
        }
      }

      .box-news-detail {        
        h3 {
          margin-bottom: 5px;

          a {
            color: black;
            font-weight: 600;
            transition: .3s;
            @include o2;

            &:hover {
              color: $main_color;
            }
          }
        }

        h5 {
          color: $main_color;
          
          i {
            padding-right: 10px;
          }
        }
      }
    }

    &.box-news-0 {
      grid-area: box-news-0;
    }
    &.box-news-1 {
      grid-area: box-news-1;
    }
    &.box-news-2 {
      grid-area: box-news-2;
    }
    &.box-news-3 {
      grid-area: box-news-3;
    }
  }
}

.member {
  margin-bottom: 20px;

  .owl-theme .owl-nav {
    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 47%;
      transform: translateY(-50%);
      font-size: 20px;
      transition: .3s;
      color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 36px;
      background: rgba($color: #000000, $alpha: .5);

      &:hover {
        background: $main_color;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: 0;
    }

    button.owl-next {
      right: 0;
    }
  }
}

.box-member {
  background: #f4f4f4;
  border: 1px solid #e1e1e1;
  padding: 30px 0;
  transition: .3s;
  margin-bottom: 30px;

  &:hover {
    background: $main_color;
    border-color: $main_color;

    .box-member-detail {
      h4, h5, i {
        color: white;
      }

      i:hover {
        color: black;
      }
    }
  }

  &-img {
    width: 200px;
    margin: auto;
    margin-bottom: 20px;

    img {
      border-radius: 50%;      
    }
  }

  &-detail {
    text-align: center;

    h4 {
      font-weight: 600;
      margin-bottom: 5px;
      transition: .3s;
    }

    h5 {
      color: $main_color;
      margin-bottom: 15px;
      transition: .3s;
    }

    &-contact {
      padding-top: 10px;
      border-top: 1px solid #e1e1e1;
      width: 130px;
      margin: auto;

      i {
        font-size: 20px;
        margin: 0 10px;
        transition: .3s;
        color: black;
      }
    }
  }
}

.news-page {
  .box-news {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    img {
      transition: .5s;
      filter: brightness(.7);
    }

    .box-news-detail {
      position: absolute;
      bottom: 20px;
      width: 80%;
      left: 10%;
      
      h3 {
        margin-bottom: 10px;

        a {
          color: white;
          font-weight: 600;
          transition: .3s;
          @include o2;

          &:hover {
            color: $main_color;
          }
        }
      }

      h5 {
        color: $main_color;
        
        i {
          padding-right: 10px;
        }
      }
    }
  }

  .news-detail {
    margin-bottom: 40px;
    
    h3 {
      font-weight: 600;
      margin-bottom: 10px;
    }

    h5 {
      color: $main_color;
      margin-bottom: 10px;

      i {
        margin-right: 10px;
      }
    }

    h4 {
      font-weight: 600;
      margin-bottom: 20px;
    }

    img {
      margin-bottom: 20px;
    }
  }
}

.page-text {
  margin-bottom: 50px;
  
  img {
    margin-bottom: 20px;
  }
}

.contact-page {
  margin-bottom: 50px;

  .box-contact {
    color: black;

    input {
      height: 40px;
    }

    textarea {
      height: 100px;
    }
  }

  h2 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  ul li {
    margin-bottom: 15px;
    font-size: 16px;
    
    i {
      color: $main_color;
      margin-right: 10px;
    }
  }
}


.product-page {
  .product-detail {
    &-1 {
      &-img {
        .xzoom-thumbs {
          margin-top: 10px;
          margin-bottom: 30px;
          padding: 0 50px;
          position: relative;

          .xzoom-gallery {
            &:hover {
              border-color: $main-color;
            }
          }

          .xactive {
            border-color: $main-color;
            box-shadow: 0px 0px 3px 0px $main-color;
          }

          .owl-theme .owl-nav {

            button.owl-prev,
            button.owl-next {
              position: absolute;
              top: 40%;
              font-size: 30px;
              transition: .5s;
              transform: translateY(-50%);

              &:hover,
              &:focus {
                color: $main-color;
                background: none;
                outline: none;
              }
            }

            button.owl-prev {
              left: -12%
            }

            button.owl-next {
              right: -12%
            }
          }
        }
      }

      &-detail {
        color: #585858;
        margin-bottom: 30px;

        h2 {
          font-weight: bold;
          margin-bottom: 20px;
          color: black;
        }

        p {
          color: #585858;
          margin-bottom: 10px;
        }
      }
    }

    &-2 {
      &-title {
        .nav-tabs {
          border-bottom: 2px solid #383838;
          margin-bottom: 30px;

          .nav-item {
            margin-bottom: -2px;

            .nav-link {
              padding-bottom: 11px;
              border: none;
              border-bottom: 2px solid #383838;
              transition: .5s;
              font-weight: bold;

              &.active,
              &:hover {
                background: none;
                border: none;
                border-bottom: 2px solid $main-color;
                padding-bottom: 11px;
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
}

.similar {
  margin: 50px 0;
}


// --------------------------------------------------------------------
@import 'media';
