<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Hội Thảm Việt Nam
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/animate.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .overlay-menu
    a.toggleMenu.d-block.d-xl-none
      i.mdi.mdi-menu

    aside
      .left-side
        .menu
          .logo
            a(href='index.html')
              img(src='../img/logo.png')

          .search
            form
              input(type='text', placeholder='Tìm kiếm')
              button
                i.mdi.mdi-magnify

          ul.nav
            .nav-close
              i.mdi.mdi-close.d-block.d-xl-none
            li.nav-item
              a(href='index.html') Trang chủ
            li.nav-item
              a(href='gioi-thieu.html') Giới thiệu
            li.nav-item
              a(href='san-pham.html') Sản phẩm
            li.nav-item
              a(href='tin-tuc.html') Tin tức
            li.nav-item
              a(href='lang-nghe-tham.html') Làng nghề thảm
            li.nav-item
              a(href='nghe-nhan-tham.html') Nghệ nhân thảm
            li.nav-item
              a(href='hoi-cho-hop-tac.html') Hội chợ - hợp tác
            li.nav-item
              a(href='cach-dung.html') Cách dùng
            li.nav-item
              a(href='lien-he.html') Liên hệ
              
      
      .right-side
        .dash-top
        .dash-mid
        .go-top(title='Lên đầu trang')
          i.mdi.mdi-arrow-up
          
        .contact
          .box-contact
            i.mdi.mdi-map-marker-outline
            h5 311K13 Đường 8, KP 1, P. An Phú, Quận 2, TP.HCM
          .box-contact
            i.mdi.mdi-phone-classic
            h5 0912 345 678
          .box-contact
            i.mdi.mdi-email-outline
            h5 hoithamvietham@gmail.com

        .social
          a(href='#')
            i.mdi.mdi-facebook
          a(href='#')
            i.mdi.mdi-google-plus
          a(href='#')
            i.mdi.mdi-youtube
        


    main
      block article
  
      block footer
        footer
          section.footer
            .container
              .row
                .col-lg-4.col-sm-6
                  .info
                    h4 hội nghề thảm việt nam

                    ul
                      li
                        i.mdi.mdi-map-marker-outline
                        | Số 12 Nguyễn Hữu Thọ, Q. Hoàng Mai, Hà Nội
                      li
                        i.mdi.mdi-phone-classic
                        | 0912 345 678
                      li
                        i.mdi.mdi-email-outline
                        | hoithamvietnam@gmail.com
                
                .col-lg-4.d-none.d-lg-block
                  .category
                    h4 danh mục nhanh

                    ul
                      li
                        a(href='index.hmtl')
                          | Trang chủ
                      li
                        a(href='index.hmtl')
                          | Giới thiệu
                      li
                        a(href='index.hmtl')
                          | Sản phẩm
                      li
                        a(href='index.hmtl')
                          | Tin tức
                      li
                        a(href='index.hmtl')
                          | Làng nghề thảm
                      li
                        a(href='index.hmtl')
                          | Nghệ nhân thảm
                      li
                        a(href='index.hmtl')
                          | Hội chợ hợp tác
                      li
                        a(href='index.hmtl')
                          | Cách dùng
                      li
                        a(href='index.hmtl')
                          | Liên hệ

                .col-lg-4.col-sm-6
                  .map
                    h4 Bản đồ

                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.5499080310437!2d105.83706341533164!3d20.97058279513687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac51cc500191%3A0x1ee55b87f561cfa9!2zMTIgTmd1eeG7hW4gSOG7r3UgVGjhu40sIEhvw6BuZyBMaeG7h3QsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1552451754384', width='100%', height='200', frameborder='0', style='border:0', allowfullscreen='')

          section.copyright
            h5.text-center Copyright @ 2018 Hoi Tham Viet Nam. All Reserved. Designed by Tri Viet
                    
                    
                      
                      


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/wow.min.js')
      script(src='../js/xzoom.min.js')
      script(src='../js/magnific-popup.js')
      script(src='../js/jquery.fancybox.min.js')
      script(src='../js/layout.js')
