<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Hội Thảm Việt Nam
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/animate.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .overlay-menu

    aside
      .left-side
        .menu
          a.toggleMenu.d-block.d-lg-none
            i.mdi.mdi-menu

          .logo
            a(href='index.html')
              img(src='../img/logo.png')

          .search
            form
              input(type='text', placeholder='Tìm kiếm')
              button
                i.mdi.mdi-magnify

          ul.nav
            .nav-close
              i.mdi.mdi-close.d-block.d-lg-none
            li.nav-item
              a(href='index.html') Trang chủ
            li.nav-item
              a(href='gioi-thieu.html') Giới thiệu
            li.nav-item
              a(href='san-pham.html') Sản phẩm
            li.nav-item
              a(href='tin-tuc.html') Tin tức
            li.nav-item
              a(href='lang-nghe-tham.html') Làng nghề thảm
            li.nav-item
              a(href='nghe-nhan-tham.html') Nghệ nhân thảm
            li.nav-item
              a(href='hoi-cho-hop-tac.html') Hội chợ - hợp tác
            li.nav-item
              a(href='cach-dung.html') Cách dùng
            li.nav-item
              a(href='lien-he.html') Liên hệ
              
      
      .right-side
        .dash-top
        .dash-mid
        .go-top(title='Lên đầu trang')
          i.mdi.mdi-arrow-up
          
        .contact
          .box-contact
            i.mdi.mdi-map-marker-outline
            h5 311K13 Đường 8, KP 1, P. An Phú, Quận 2, TP.HCM
          .box-contact
            i.mdi.mdi-phone-classic
            h5 0912 345 678
          .box-contact
            i.mdi.mdi-email-outline
            h5 hoithamvietham@gmail.com

        .social
          a(href='#')
            i.mdi.mdi-facebook
          a(href='#')
            i.mdi.mdi-google-plus
          a(href='#')
            i.mdi.mdi-youtube
        


    main
      block article
  
      block footer
                      
                      


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/wow.min.js')
      script(src='../js/xzoom.min.js')
      script(src='../js/magnific-popup.js')
      script(src='../js/jquery.fancybox.min.js')
      script(src='../js/layout.js')
