extends _inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='tin-tuc.html') Tin tức
              li.breadcrumb-item.active Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, perspiciatis!
    
    section.news-page
      .container
        .news-detail
          h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ipsam.
          h5 
            i.mdi.mdi-clock-outline
            | 13/03/2019
          h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat. Quis quasi praesentium libero commodi? Praesentium libero repellat nam excepturi?
          img(src='../img/news-2.png')
          
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ex perferendis impedit nam temporibus, fugit minima quia id dolores accusantium veniam adipisci dolorum atque facere aliquid? Deleniti repellat placeat reiciendis!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ex perferendis impedit nam temporibus, fugit minima quia id dolores accusantium veniam adipisci dolorum atque facere aliquid? Deleniti repellat placeat reiciendis!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ex perferendis impedit nam temporibus, fugit minima quia id dolores accusantium veniam adipisci dolorum atque facere aliquid? Deleniti repellat placeat reiciendis!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ex perferendis impedit nam temporibus, fugit minima quia id dolores accusantium veniam adipisci dolorum atque facere aliquid? Deleniti repellat placeat reiciendis!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ex perferendis impedit nam temporibus, fugit minima quia id dolores accusantium veniam adipisci dolorum atque facere aliquid? Deleniti repellat placeat reiciendis!

    section.similar.news-page
      .container
        .title-page
          h1 Tin liên quan
        
        .row
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          
        