extends _inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Giới thiệu
    
    section.page-text
      .container
        .title-page
          h1 Giới thiệu
        
        .page-text-content
          h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum quam ad deleniti inventore vero adipisci provident autem nobis beatae.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis ea nisi aspernatur animi amet ipsum earum, voluptatum exercitationem eius minima nihil aliquam voluptate voluptates cumque qui doloribus explicabo! Neque.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis ea nisi aspernatur animi amet ipsum earum, voluptatum exercitationem eius minima nihil aliquam voluptate voluptates cumque qui doloribus explicabo! Neque.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis ea nisi aspernatur animi amet ipsum earum, voluptatum exercitationem eius minima nihil aliquam voluptate voluptates cumque qui doloribus explicabo! Neque.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis ea nisi aspernatur animi amet ipsum earum, voluptatum exercitationem eius minima nihil aliquam voluptate voluptates cumque qui doloribus explicabo! Neque.p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis ea nisi aspernatur animi amet ipsum earum, voluptatum exercitationem eius minima nihil aliquam voluptate voluptates cumque qui doloribus explicabo! Neque.
          img(src='../img/slider-1.png')
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis ea nisi aspernatur animi amet ipsum earum, voluptatum exercitationem eius minima nihil aliquam voluptate voluptates cumque qui doloribus explicabo! Neque.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis ea nisi aspernatur animi amet ipsum earum, voluptatum exercitationem eius minima nihil aliquam voluptate voluptates cumque qui doloribus explicabo! Neque.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis ea nisi aspernatur animi amet ipsum earum, voluptatum exercitationem eius minima nihil aliquam voluptate voluptates cumque qui doloribus explicabo! Neque.
          