extends _inc

block article
  section.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='san-pham.html')
          img(src='../img/slider-1.png')
      .item
        a(href='san-pham.html')
          img(src='../img/slider-1.png')

  section(style='height: 5000px')
