extends _inc

block article
  article
    section.slider
      .owl-carousel.slider-carousel.owl-theme
        .item
          a(href='san-pham.html')
            img(src='../img/slider-1.png')
        .item
          a(href='san-pham.html')
            img(src='../img/slider-1.png')

    section.product
      .container
        .title-page 
          h1 Sản phẩm

        .product-zone
          .box-product.wow.fadeIn
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                i.mdi.mdi-link-variant
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h4
                a(href='chi-tiet-san-pham.html', title='Thảm trải sàn Hà Lan Valencia 1617')
                  | Thảm trải sàn Hà Lan Valencia 1617

          .box-product.wow.fadeIn
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                i.mdi.mdi-link-variant
                img.show(src='../img/product-2.png')
                img.hidden(src='../img/product-1.png')
            .box-product-detail
              h4
                a(href='chi-tiet-san-pham.html', title='Thảm trải sàn Hà Lan Valencia 1617')
                  | Thảm trải sàn Hà Lan Valencia 1617

          .box-product.wow.fadeIn
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                i.mdi.mdi-link-variant
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h4
                a(href='chi-tiet-san-pham.html', title='Thảm trải sàn Hà Lan Valencia 1617')
                  | Thảm trải sàn Hà Lan Valencia 1617

          .box-product.wow.fadeIn
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                i.mdi.mdi-link-variant
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h4
                a(href='chi-tiet-san-pham.html', title='Thảm trải sàn Hà Lan Valencia 1617')
                  | Thảm trải sàn Hà Lan Valencia 1617

          .box-product.wow.fadeIn
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                i.mdi.mdi-link-variant
                img.show(src='../img/product-2.png')
                img.hidden(src='../img/product-1.png')
            .box-product-detail
              h4
                a(href='chi-tiet-san-pham.html', title='Thảm trải sàn Hà Lan Valencia 1617')
                  | Thảm trải sàn Hà Lan Valencia 1617

          .box-product.wow.fadeIn
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                i.mdi.mdi-link-variant
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h4
                a(href='chi-tiet-san-pham.html', title='Thảm trải sàn Hà Lan Valencia 1617')
                  | Thảm trải sàn Hà Lan Valencia 1617

          .box-product.wow.fadeIn
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                i.mdi.mdi-link-variant
                img.show(src='../img/product-2.png')
            .box-product-detail
              h4
                a(href='chi-tiet-san-pham.html', title='Thảm trải sàn Hà Lan Valencia 1617')
                  | Thảm trải sàn Hà Lan Valencia 1617

          .box-product.wow.fadeIn
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                i.mdi.mdi-link-variant
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h4
                a(href='chi-tiet-san-pham.html', title='Thảm trải sàn Hà Lan Valencia 1617')
                  | Thảm trải sàn Hà Lan Valencia 1617

    section.aboutus
      .container
        h1.wow.fadeIn giới thiệu
        p.wow.flipInX(data-wow-delay='.3s') hội nghề thảm việt nam
        h5.wow.bounceIn(data-wow-delay='.7s') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum tempora aliquam corrupti non optio illo adipisci laudantium consectetur cumque accusamus expedita blanditiis, nostrum eius nobis, possimus, itaque saepe atque commodi!        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum tempora aliquam corrupti non optio illo adipisci laudantium consectetur cumque accusamus expedita blanditiis, nostrum eius nobis, possimus, itaque saepe atque commodi!              
        a.wow.fadeIn(data-wow-delay='1s', href='gioi-thieu.html') xem thêm
            
    section.news
      .container
        .title-page
          h1 làng nghệ thảm
        
        .news-zone
          .box-news.wow.fadeIn
            .box-news-img
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-1.png')
            .box-news-detail
              h3
                a(href='chi-tiet-tin-tuc.html') Lịch sử nghề thảm, thảm được dệt như thế nào ?
              h5
                i.mdi.mdi-clock-outline
                | 13/03/2019

          .box-news.wow.fadeIn
            .box-news-img
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-1.png')
            .box-news-detail
              h3
                a(href='chi-tiet-tin-tuc.html') Lịch sử nghề thảm, thảm được dệt như thế nào ?
              h5
                i.mdi.mdi-clock-outline
                | 13/03/2019
          
          .box-news.wow.fadeIn
            .box-news-img
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-1.png')
            .box-news-detail
              h3
                a(href='chi-tiet-tin-tuc.html') Lịch sử nghề thảm, thảm được dệt như thế nào ?
              h5
                i.mdi.mdi-clock-outline
                | 13/03/2019
          
          .box-news.wow.fadeIn
            .box-news-img
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-1.png')
            .box-news-detail
              h3
                a(href='chi-tiet-tin-tuc.html') Lịch sử nghề thảm, thảm được dệt như thế nào ?
              h5
                i.mdi.mdi-clock-outline
                | 13/03/2019

    section.member
      .container
        .title-page
          h1 nghệ nhân thảm
        
        .owl-carousel.member-carousel.owl-theme
          .item
            .box-member
              .box-member-img
                img(src='../img/member-1.png')
              .box-member-detail
                h4 Nguyễn Phong Thái
                h5 Nghệ nhân thảm
                .box-member-detail-contact
                  a(href='#')
                    i.mdi.mdi-facebook
                  a(href='#')
                    i.mdi.mdi-phone
                  a(href='#')
                    i.mdi.mdi-email
          
          .item
            .box-member
              .box-member-img
                img(src='../img/member-1.png')
              .box-member-detail
                h4 Nguyễn Phong Thái
                h5 Nghệ nhân thảm
                .box-member-detail-contact
                  a(href='#')
                    i.mdi.mdi-facebook
                  a(href='#')
                    i.mdi.mdi-phone
                  a(href='#')
                    i.mdi.mdi-email
          
          .item
            .box-member
              .box-member-img
                img(src='../img/member-1.png')
              .box-member-detail
                h4 Nguyễn Phong Thái
                h5 Nghệ nhân thảm
                .box-member-detail-contact
                  a(href='#')
                    i.mdi.mdi-facebook
                  a(href='#')
                    i.mdi.mdi-phone
                  a(href='#')
                    i.mdi.mdi-email
          
          .item
            .box-member
              .box-member-img
                img(src='../img/member-1.png')
              .box-member-detail
                h4 Nguyễn Phong Thái
                h5 Nghệ nhân thảm
                .box-member-detail-contact
                  a(href='#')
                    i.mdi.mdi-facebook
                  a(href='#')
                    i.mdi.mdi-phone
                  a(href='#')
                    i.mdi.mdi-email
          
          .item
            .box-member
              .box-member-img
                img(src='../img/member-1.png')
              .box-member-detail
                h4 Nguyễn Phong Thái
                h5 Nghệ nhân thảm
                .box-member-detail-contact
                  a(href='#')
                    i.mdi.mdi-facebook
                  a(href='#')
                    i.mdi.mdi-phone
                  a(href='#')
                    i.mdi.mdi-email
          
  


