extends _inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Tin tức
    
    section.news-page
      .container
        .title-page
          h1 Tin tức

        .row
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019
          
          .col-md-6
            .box-news
              a(href='chi-tiet-tin-tuc.html')
                img(src='../img/news-2.png')
              .box-news-detail
                h3 
                  a(href='chi-tiet-tin-tuc.html') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.
                h5
                  i.mdi.mdi-clock-outline
                  | 13/03/2019

        nav
          ul.pagination.justify-content-end
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li.page-item
              a.page-link.active(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next   
