<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Hội Thảm Việt Nam</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="overlay-menu"></div>
    <aside>
      <div class="left-side">
        <div class="menu"><a class="toggleMenu d-block d-lg-none"><i class="mdi mdi-menu"></i></a>
          <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
          <div class="search">
            <form>
              <input type="text" placeholder="Tìm kiếm"/>
              <button><i class="mdi mdi-magnify"></i></button>
            </form>
          </div>
          <ul class="nav">
            <div class="nav-close"><i class="mdi mdi-close d-block d-lg-none"></i></div>
            <li class="nav-item"><a href="index.html">Trang chủ</a></li>
            <li class="nav-item"><a href="gioi-thieu.html">Giới thiệu</a></li>
            <li class="nav-item"><a href="san-pham.html">Sản phẩm</a></li>
            <li class="nav-item"><a href="tin-tuc.html">Tin tức</a></li>
            <li class="nav-item"><a href="lang-nghe-tham.html">Làng nghề thảm</a></li>
            <li class="nav-item"><a href="nghe-nhan-tham.html">Nghệ nhân thảm</a></li>
            <li class="nav-item"><a href="hoi-cho-hop-tac.html">Hội chợ - hợp tác</a></li>
            <li class="nav-item"><a href="cach-dung.html">Cách dùng</a></li>
            <li class="nav-item"><a href="lien-he.html">Liên hệ</a></li>
          </ul>
        </div>
      </div>
      <div class="right-side">
        <div class="dash-top"></div>
        <div class="dash-mid"></div>
        <div class="go-top" title="Lên đầu trang"><i class="mdi mdi-arrow-up"></i></div>
        <div class="contact">
          <div class="box-contact"><i class="mdi mdi-map-marker-outline"></i>
            <h5>311K13 Đường 8, KP 1, P. An Phú, Quận 2, TP.HCM</h5>
          </div>
          <div class="box-contact"><i class="mdi mdi-phone-classic"></i>
            <h5>0912 345 678</h5>
          </div>
          <div class="box-contact"><i class="mdi mdi-email-outline"></i>
            <h5>hoithamvietham@gmail.com</h5>
          </div>
        </div>
        <div class="social"><a href="#"><i class="mdi mdi-facebook"></i></a><a href="#"><i class="mdi mdi-google-plus"></i></a><a href="#"><i class="mdi mdi-youtube"></i></a></div>
      </div>
    </aside>
    <main>
      <section class="slider">
        <div class="owl-carousel slider-carousel owl-theme">
          <div class="item"><a href="san-pham.html"><img src="../img/slider-1.png"/></a></div>
          <div class="item"><a href="san-pham.html"><img src="../img/slider-1.png"/></a></div>
        </div>
      </section>
      <section style="height: 5000px"></section>
      <script src="../js/jquery-3.3.1.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/mdb.min.js"></script>
      <script src="../js/owl.carousel.min.js"></script>
      <script src="../js/wow.min.js"></script>
      <script src="../js/xzoom.min.js"></script>
      <script src="../js/magnific-popup.js"></script>
      <script src="../js/jquery.fancybox.min.js"></script>
      <script src="../js/layout.js"></script>
    </main>
  </body>
</html>